@font-face{
	font-family:DTF;
	src:url(https://file.garden/Zlk30agh4hF11eOU/DTM-Mono.otf);
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle farthest-corner at 50% 100%, #FFF8C7, #FFD57C);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
.popup {
    background-color: #272727b0;
    color: white;
    width: 100%;
    max-width: 500px;
    padding: 30px 40px;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-family: DTF;
    display: none; 
    text-align: center;
}
.popup a {
    color: #FFD57C;
}
.popup a:hover {
    color: #ffb109;
}
#confirm {
    display: block;
    width: 100px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: DTF;
    border: none;
    padding: 8px 0;
}
#confirm:hover {
    background-color: #ffbb00;
    color: #ffffff;
    cursor: pointer;
}

#map { 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#mapsvg {
    width: 1000px;
    height: 1000px;
}

.papertext {
    font-family: DTF;
    font-size: 3px;
    fill: rgb(82, 56, 48);
}

.menuButton {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(82, 56, 48);
    font-size: 30px;
    cursor: pointer;
}
.menuButton:hover {
    background-color: rgb(201, 192, 189);
}
.menuButton:active {
    background-color: rgb(170, 161, 158);
}
#zoomIn {
    top: 0;
}
#zoomOut {
    top: 55px;
}
#suggestions {
    font-size: 20px;
    top: 110px;
}